.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
 }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; border:none !important;}
/* close commented backslash hack */

html,body {
	height: 100%;
	min-height:500px;
	font-family: 'Open Sans', sans-serif;
	color:#333;
}
a {
	color:#333;
	text-decoration: underline;
}
a:hover {
	color:#ff005d;
}
#bg {
	width:100%;
	height:100%;
	background-color:#fff;
	position: relative;
	/*min-width:960px;*/
}
#wrapper {
	/*min-width:960px;*/
	margin:0 auto;
	position: relative;
	width: 100%;
	height: 100%;
	min-height:500px;
}
#projects {
	width: 100%;
	max-width: 1010px;
	margin-top:30px;
}

h1 {
	height:45px;
	line-height: 45px;
	min-height: 45px;
	text-align: left;
	margin:0;
	padding: 0;
	padding-left:1%;
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
	font-size:30px;

	text-transform: uppercase;

	margin-bottom:2%;
	z-index: 99999999;
	position: relative;
}
h1 span {
	font-weight: 900;
	font-size:29px;
}
#projects ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
#projects ul li {
	float:left;
	width:100%;
	height:0;
	padding-bottom: 260px;
	margin:0 0 60px;
	position: relative;
	border:none;

	-webkit-box-shadow:  0px 0px 20px 2px rgba(0, 0, 0, 0.2);
	box-shadow:  0px 0px 20px 2px rgba(0, 0, 0, 0.2);

	-webkit-transition: opacity 0.5s ease;
	-moz-transition: opacity 0.5s ease;
	-ms-transition: opacity 0.5s ease;
	-o-transition: opacity 0.5s ease;
	transition: opacity 0.5s ease;

	opacity: 1;

	min-width: 230px;
}
@media screen
  and (min-device-width: 768px) {

		#projects {
			margin-top:15px;
		}
		#projects ul li {
			width:47.5%;
			margin:0 1% 60px;
			border:1px solid #999;
		}
}

#projects ul li a{
	display: block;
	position: absolute;
	vertical-align: baseline;
	width: 100%;
	height: 100%;
}
#projects ul:hover li {
	opacity: 0.75;
}
#projects ul li:hover {
	opacity: 1;
}
#projects ul li.iib a::after {
	content: "";
  background: transparent url(https://infobawards.s3.amazonaws.com/2019/badges/w-2019.png) no-repeat top left;
  background-size: 100px;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100px;
  height: 100px;
}
#projects ul li.guardian a::after {
	content: "";
	background: transparent url(../img/guardian.png) right bottom no-repeat;
	width:80px;
	height:71px;
	background-size: 50% 50%;
	position: absolute;
	bottom:10px;
	right:10px;
}
#projects ul li {
	background-size: 100% auto !important;
}
@media screen
  and (min-device-width: 860px) {
  		a {
  			text-decoration: none;
  		}
		h1 {
			height:14%;
			line-height: 90px;
			min-height: 90px;
			text-align: center;
		}
		#projects {
			margin: 20px auto 100px;
		}
		#projects ul li {
			width:30%;
			min-width: 280px;
			max-width: 320px;
		}
}
#projects ul li.covid19 {
	background:#fff url(../img/projects/covid19.png) center center no-repeat;
}
#projects ul li.loksabha {
	background:#fff url(../img/projects/loksabha.png) center center no-repeat;
}
#projects ul li.futbolismo-legends {
	background:#fff url(../img/projects/futbolismo_legends.png) center center no-repeat;
}
#projects ul li.facciafaccia-elezioni {
	background:#fff url(../img/projects/facciafaccia.png) center center no-repeat;
}
#projects ul li.brexit {
	background:#fff url(../img/projects/brexit.png) center center no-repeat;
}
#projects ul li.rio-track {
	background:#fff url(../img/projects/rio_track4000m.png) center center no-repeat;
}
#projects ul li.rio-swim {
	background:#fff url(../img/projects/rio400m.png) center center no-repeat;
}
#projects ul li.rio200m {
	background:#fff url(../img/projects/rio200m.png) center center no-repeat;
}
#projects ul li.presidential-debate {
	background:#fff url(../img/projects/debate.png) center center no-repeat;
}
#projects ul li.food-hygiene {
	background:#fff url(../img/projects/foodhygieneuk.png) center center no-repeat;
}
#projects ul li.leicester {
	background:#fff url(../img/projects/premier_league.png) center center no-repeat;
}
#projects ul li.scotland {
	background:#fff url(../img/projects/scotland.png) center center no-repeat;
}
#projects ul li.generations {
	background:#fff url(../img/projects/generation.png) center center no-repeat;
}
#projects ul li.air-pollution {
	background:#fff url(../img/projects/air-pollution.png) center center no-repeat;
}
#projects ul li.global-warming {
	background:#fff url(../img/projects/global-warming.png) center center no-repeat;
}
#projects ul li.perception-gap {
	background:#fff url(../img/projects/perceptions.png) center center no-repeat;
}
#projects ul li.china {
	background:#fff url(../img/projects/china.png) center center no-repeat;
}
#projects ul li.rugby {
	background:#fff url(../img/projects/rugby.png) center center no-repeat;
}
#projects ul li.ashes {
	background:#fff url(../img/projects/ashes.png) center center no-repeat;
}
#projects ul li.form-a-government {
	background:#fff url(../img/projects/form-a-government.png) center center no-repeat;
}
#projects ul li.election-map {
	background:#fff url(../img/projects/elections_map.png) center center no-repeat;
}
#projects ul li.polls {
	background:#fff url(../img/projects/polls.png) center center no-repeat;
}
#projects ul li.githut {
	background:#fff url(../img/projects/githut.png) center center no-repeat;
}
#projects ul li.humancost {
	background:#fff url(../img/projects/humancost.png) center center no-repeat;
}
#projects ul li.sorting {
	background:#fff url(../img/projects/sorting.png) center center no-repeat;
}
#projects ul li.soldiaipartiti {
	background:#fff url(../img/projects/soldiaipartiti.png) center center no-repeat;
}
#projects ul li.exports {
	background:#fff url(../img/projects/exports.png) center center no-repeat;
}
#projects ul li.bolides {
	background:#fff url(../img/projects/bolides.png) center center no-repeat;
}
#projects ul li.seaof {
	background:#fff url(../img/projects/seaof.png) center center no-repeat;
}
#projects ul li.worldshapin {
	background:#fff url(../img/projects/worldshapin.png) center center no-repeat;
}
#projects ul li.thatsedu {
	background:#fff url(../img/projects/thatsedu.png) center center no-repeat;
}
#projects ul li.awot {
	background:#fff url(../img/projects/aworldoftweets.png) center center no-repeat;
}
#projects ul li.peoplemovin {
	background:#fff url(../img/projects/peoplemovin.png) center center no-repeat;
}
#projects ul li a {

}
#projects ul li a h3{
	margin:0;
	padding:0;
	padding-left:1%;
	position: absolute;
	bottom:0;

	font-family: 'Raleway', sans-serif;
	/*text-shadow: 0px 0px 1px #333;*/

	text-align: left;
	text-transform: uppercase;
	font-weight: 300;

	width: 100%;
	font-size: 16px;
	margin-bottom: -25px;
}

#footer {

	bottom: 0;
	width: 100%;
	background-color: transparent;

}
h2 {
	font-size: 10px;
	text-align: center;
	display: none;
	margin:0 auto;
	font-weight: normal;
}

ul#nav  {
	display: none;
	list-style: none;
	bottom:0;
	color:#333;
	margin: 0 auto;
	padding: 0;
	/*width:210px;*/
	width: 140px;
	overflow: visible;
}
ul#nav li {
	float:left;
	width:70px;
	text-align: center;
}
#footer .contents {
	position: relative;

	color:#333;

	opacity: 0;

	-webkit-transition: opacity 0.5s ease;
	-moz-transition: opacity 0.5s ease;
	-ms-transition: opacity 0.5s ease;
	-o-transition: opacity 0.5s ease;
	transition: opacity 0.5s ease;

	display: none;
}
#footer #ac.contents {
	display: block;
	opacity:1;
}
#footer .contents p {
	display: block;
	position: relative;
	margin:0;
	padding:0 1%;
	font-size:22px;
	font-family: 'Raleway',sans-serif;
	font-weight: 300;
	line-height: 28px;
	text-transform: uppercase;
}
#footer .contents p.d-o {
	display: none;
}
#footer .contents p a {
	color:#108bc7;
}
#footer .contents p a:hover {
	color:#ff005d;
}
#footer .contents p a span {
	text-transform: lowercase;
}
#footer .contents p a.close {
	color:#333;
	background-color: #ddd;
	text-transform: lowercase;
	padding:2px 5px;
}
@media screen
  and (min-device-width: 860px) {

		#projects ul li a h3{
			text-align: center;
			padding-left:0;
		}

		#footer {
			min-height:35px;
			position: fixed;

			padding-top:15px;
			border-top:3px solid #ccc;

			z-index:9999;


			background-color: rgba(255,255,255,0.8);
		}

		#footer #ac.contents {
			display: none;
			opacity: 0;
		}

		#footer h2 {
			display: block;
		}

		#footer .contents p.d-o {
			display: inline;
		}
		ul#nav  {
			display: block;
			margin-bottom:15px;
		}
}
#cbg {
	position: absolute;
	top:0;
	left:0;
	right:0;
	bottom: 0;
	width:100%;
	height:100%;
	z-index: 0;

}
canvas {
}

#contacts {
	display: block;
	position: relative;
	margin:0;
	margin-bottom:20px;
	padding:0 1%;
	font-size:22px;
	font-family: 'Raleway',sans-serif;
	font-weight: 300;
	line-height: 28px;
}
#contacts {
	color:#108bc7;
}
@media screen
  and (min-device-width: 860px) {
  	#contacts {
  		display: none;
  	}
}
